/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
    --main-color:#000000;
    --header-bg-color:#F0F5FB;
    --accent-color:#59AAF1;
    --secondary-text-color:#151515;
    --border-color:#ECEEF7;
    --price-color:#121146;
    --green-color:#46CB72;
    --secondary-price-color:#F58656;
}

/*WEB FONTS RELATED*/
  /* montserrat-300 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: 
         url('../fonts/montserrat-v15-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: 
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family:"Montserrat","Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: var(--main-color);
    overflow-x: hidden;
}
.container{
    max-width: 1360px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
/* SITE_HEADER */
.site-header-wrapper{
    background-color: var(--header-bg-color);
    background-image: url(../img/vegitable.png),
                       url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -50px center,50px 30px;
}
.site-header__container{
    display: flex;
    align-items: center;

}
.site-header{
    padding-top:25px;
    margin-bottom: 105px;
}
.sitenav{
    margin-right: 226px;
}
.sitenav-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.sitenav-link{
    text-decoration: none;
    color: var(--main-color);
    transition: ease-in-out 0.4s;
}
.sitenav-item:hover{
    box-shadow: 0 2px 0 0 var(--secondary-price-color);
}
.sitenav-item:hover .sitenav-link{
    color: var(--secondary-price-color);

}
.sitenav-item:not(:last-child){
    margin-right: 40px;
}
.sitenav-item{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    transition: ease-in-out 0.4s;
}


.link-wrapper{
    display: flex;
    align-items: center;
}
.daily-work{
    margin: 0;
    padding: 0;
    line-height: 20px;
    display: flex;
    margin-right: 40px;
}
.daily-work::before{
    content: "";
    margin-right: 9px;
    width: 4px;
    margin-top: 11px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--green-color);
}
.phone-link::before{
    content: "";
    width: 33px;
    height: 33px;
    background:url(../img/phone.png) no-repeat center center,
               linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.phone-link{
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
}
.phone-link:hover{
    background-image: linear-gradient(287.74deg, #FE5626 8.52%, #F58656  92.72%);
    color: #fff;
    border-radius: 15px;
}

.phone-link:hover::before{
    transform: scale(1.2);
    transition: ease-out 0.4s;
}
.phone-link:active::before{
    transform: translateX(155px) scale(1.2);
    transition: ease-out 0.4s;
}
.phone-link:active{
    color: transparent;
}
/* LOGO */
.logo-link{
    margin-right: 149px;
}
.logo{
    display: block;
}

/* INTRO_SECTION */
.intro-section{
    padding-bottom: 250px;
    position: relative;
}
.intro-info{
    width: 621px;
    margin: auto;
    text-align: center;
    margin-bottom: 121px;
}
.intro-title{
    margin: 0;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
}
.intro-text{
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}
.order-info{
    width: 200px;
    margin-left: auto;
    text-align: right;
    position: relative;
}
.order-text::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -170px;
    width: 141px;
    height: 40px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../img/line.svg);
}
.price-color{
    color: var(--secondary-price-color);
    font-weight: 600;
}
.intro-img{
    position: absolute;
    top: 100px;
    left: 350px;
}
.plus-btn{
    position: absolute;
    top: 310px;
    right: 480px;
    width: 33px;
    height: 33px;
    background: url(../img/plus.png) no-repeat center center,
              linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    border: none;
    z-index: 99;
    transition: ease-in-out 0.4s;
}
.plus-btn:hover{
    transform:scale(1.1) rotate(180deg);
    cursor: pointer;
    box-shadow: none;
}
/* MAIN */
.site-main{
    padding-top: 140px;
    background-image: url("../img/main-bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 10px) 140px;
}
.dishes-info__container{
    position: relative;
}
.dishes-info-title{
    margin: 0;
    margin-bottom: 49px;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    position: relative;
}
.dishes-list{
     margin: 0;
     padding: 0;
     list-style-type: none;
     margin-left: 200px;
     display: flex;
     align-items: center;
     margin-bottom: 50px;
}
.dishes-item{
    padding: 16px 35px;
    background-color: #ECEEF6;
    border-radius: 45px;
}
.dishes-btn{
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.dishes-item:not(:last-child){
    margin-right: 30px;
}
.store-icon{
    position: absolute;
    top: -130px;
    right:0;
    object-fit: contain;
}
.dishes-item__active{
    background-color: #59AAF1;
 }
 .dishes-item__active .dishes-btn{
     color: #fff;
 }

 /* CARDS */
 .popular-section{
     margin-bottom: 100px;
 }
 .cards-wrapper{
     margin-bottom: 55px;
     display: flex;
     flex-wrap: wrap;
 }
 .card{
     max-width: 260px;
     padding: 25px 15px 0 25px;
     background-color: #fff;
     border: 2px solid var(--border-color);
     border-radius: 15px;
     margin-bottom: 30px;
     position: relative;
     z-index: 4;
 }
 .card-pizza{
     display: block;
     margin-left:22px;
     margin-bottom: 30px;
     transition: ease-in-out 0.4s;
 }
 .card-pizza:hover{
     transform: translateY(10px);
 }
 
 .card::after{
    position: absolute;
    background-color: #FFF;
    width: 50px;
    height: 50px;
    content: "";
    margin-bottom: 10px;
    border-radius: 0 0 25px 0 ;
    border-right: 2px solid #eceef7;
    border-bottom: 2px solid #eceef7;
    transform: rotate(45deg);
    bottom: -37px;
    left: 103px;
    z-index: -4;
}
 .card:not(:nth-child(4n)){
     margin-right: 38px;
 }
 .title-wrapper{
     display: flex;
     align-items: center;
 }
 .card-title{
     margin: 0;
     margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-right: auto;
    line-height: 140%;
 }
 
 .card-measure{
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
 }
 .card-text{
     margin: 0;
     margin-bottom: 19px;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
 }
 .card-price{
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
    display: block;
    text-align: center;
    margin-bottom: 18px;
    color: var(--price-color);
 }
 .store-box{
     margin-left: 87px;
 }
 .store-btn{
     border: none;
     padding: 10px;
     margin-left: auto;
     margin-right: auto;
     width: 33px;
     height: 33px;
     background-color: #fff;
     background-image: url(../img/store-default.png);
     background-repeat: no-repeat;
     background-position: 55% 45%;
     background-size:12px 14px, contain;
     border: 1px solid var(--border-color);
     border-radius: 59px;
     cursor: pointer;
      transition: ease-in-out 0.4s;
 }
 .store-btn:hover{
     transform: scale(1.1);
     background: url("../img/store-accent.png") no-repeat 55% 45%,
     linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%), linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
    border-radius: 59px;
 }
 
 .card-hit::after{
     content:"Хіт";
     position: absolute;
     font-weight: 600;
     font-size: 12px;
     line-height: 140%;
     top: 15px;
     left: 15px;
     color: white;
     padding: 4px 22px;
     text-align: left;
     width:60px;
     height: 25px;
     background: linear-gradient(116.88deg, #FE3326 -4.28%, #F26E0E 112.69%), #59AAF1;
     box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
     border-radius: 3px;
 }
.load-more-img{
    display: block;
    transition: ease-in-out 0.4s;
}
 .load-more__btn{
     padding: 18px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 66px;
     background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
     box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
     border-radius: 59px;
     transition: ease-in-out 0.4s;
 }
 .load-more__btn:hover{
     transform: scale(1.1);
     background: linear-gradient(287.74deg, #FE5626 8.52%, #F58656 92.72%);
 }
 .load-more__btn:hover .load-more-img{
     transform: rotate(180deg);
 }
 
 /* INSTAGRA_SECTION */

.instagram-section{
    padding: 40px 0;
    background-repeat:repeat-x;
    background-position: center center;
    background-size: contain;
    background-image: url("../img/korusel.png");
    margin-bottom: 127px;
}
.instagram__container{
    width: 480px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
    background: linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
    border-radius: 15px;
    transition: ease-in-out 0.4s;
    position: relative;
}

.instagram__text{
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    box-shadow:0 0 2px 0 #fff;
    padding: 55px;
    border-radius: 15px;
    text-align: left;
}
.instagram__link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    top: 42%;
    bottom: 0;
    left: 14%;
    right: 0;
    
}
.instagram__container:hover{
    transform: scale(1.1);
    box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
    background: linear-gradient(45.04deg, #F65B16 -51.05%, #FD9924 134.89%);
}


/* FORM_SECTION */
.form-section{
    background-color: var(--header-bg-color);
    position: relative;
    z-index: 2;
    background-image:url("../img/bg-vegitable.png");
    background-repeat: no-repeat;
    background-position: calc(50% + -140px) 60%;
}
.form-section__container{
    max-width: 1460px;
    padding: 0;
    padding-top: 82px;
    padding-bottom: 300px;
    background-image:url("../img/icon.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:calc(50% + -50px) 90%;
    text-align: center;
}
.form-car{
    position: absolute;
    bottom:-18%;
    object-fit: contain;
    left: 50%;
    transform: translate(-50%);
    z-index: -2;
}
.form-section__title{
    width: 600px;
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    margin-right: auto;
    margin-left: auto;
}
.form-order input{
    width: 260px;
    padding: 20px 30px;
    background: #FFFFFF;
    margin-right: 40px;
    border: 2px solid #ECEEF7;
    border-radius: 57px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #222222;
    outline: none;
}
.form-order input:focus{
    box-shadow:inset 0 0 0 2px #FE5626;
}
.form-btn{
    border: none;
    position: relative;
    margin: 0;
    color: #fff;
    padding: 18px 116px 18px 30px;
    background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
}
.form-btn::after{
    content: "";
    width: 32px;
    display: block;
    height: 9px;
    position: absolute;
    top: 23px;
    right: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/arrow.png");
    transition: ease-out 0.4s;
}
.form-btn:hover::after{
    transform: translateX(10px);
}
/* FOOTER */

.site-footer{
    background-color: #fff;
    padding: 33px 0;
    position: relative;
}
.site-footer__container{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.footer-copy{
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-right: auto;
}
.made-from{
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-left: auto;
    position: relative;
}
.made-from b{
    font-weight: bold;
}
.made-from::after{
    content: "";
    position: absolute;
    bottom: 5px;
    right: -5px;
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 59px;
    background-color: #FE5626;
}